@tailwind base;
@tailwind components;
@tailwind utilities;

.pic{
    animation: MoveUpDown
    2s ease-in-out infinite;
}


@keyframes MoveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
